{% load static %}

<!doctype html>
<html>
    <head>
    <style>
        #container{
		background-color:#FFC0CB;
		width:100;
		color:white;
		height:805px;
		margin: auto;
		border:solid 1px;
		border-radius:15px;
		padding:30px;
		box-shadow:5px 10px 5px 0px rgb(.6,.2,.3,.50);
		}
    </style>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        <title></title>
    
    </head>
        <body>
        <div id="container">
        <a class="btn btn-outline-dark" href="/"><i class="fas fa-arrow-left"></i> Back to Home Page </a><hr>
        <h1 style="font-style:italic">getLibaas</h1>
            <p style="font-style:italic"><b>getLibaas</b> was first launched in march,2021 by<b> Razi Iqbal</b> who is the B Tech student of the A.P.J.Abdul Kalam Technical University, Uttar Pradesh. The purpose of this site is not to do business, 
            I am not here to selling you products but this site has approx all functionality which an ecommerce site should has.
            Add product to your cart, search by their product name, category, subcategory and also by their description.
            To check the payment gateway there is no need to pay amount from your bank account you can use the test credentials of Paypal. I will update it which will help the computer science engineering student to grow them.
            If you are an beginner then you can ask us any type of query and if you are an expert then you can me suggestion.
            </p><hr>
        
        <table>
            <tr>   
                <td align="left"><img style="border:solid 2px; border-radius:10px;" src="{% static 'image/razi.jpg'%}" width=200 height=200 border="5px"/></td>
                <td  style="font-family:comic sans ms">To be a part of an organization where I can fully utilize my skills in programming languages to make a significant contribution to the success of the employer,
                 while at the same time pursuing my individual growth.</td> 

            </tr>
        <h3 style="font-family:comic sans ms">RAZI IQBAL</h3>    
        </table>
        




        </div>

        
        







        </body>
</html>