<!DOCTYPE html>
<html>
	<head>
		<title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   



	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<style>
	
		.fa-whatsapp-square{
			color:green;
			
		}
		.fa-instagram{
			color:#e84393;
		}
		
		a:hover i{
			transform:scale(1.3);
		}

    #container{
        width:100;
        height:500px;
        background-color:lightblue;
        border:solid 2px;
        border-radius:15px;
        box-shadow:5px 10px 5px 0px rgb(.6,.2,.3,.50);
        margin:auto;
    }


		
	
	</style>
	
	
	</head>
	<body><div id="container">
		<a class="btn btn-outline-dark" href="/"><i class="fas fa-arrow-left"></i> Back to home page</a>
		<hr>
	<table align="center">
		<tr>
			<td><i class="fas fa-3x fa-mobile"></i></td>
			<td><h2><b>+91-9997207506</b></h2></td>
			</tr><br>
		<tr>
			<td><i class="fab fa-3x fa-whatsapp-square"></i></td>
			<td><h2><b>+91-9997207506</b></h2></td>
		</tr>
		<tr>
			<td><a href="https://www.facebook.com" target="_blank">
					<i class="fab fa-3x fa-facebook-square"></i>
				</a>
			</td>
			<td><h3 style="font-style:italic;"><b>Press the Icon to visit</b></h3><td>
		</tr>
		
		<tr>
			<td><a href="https://www.instagram.com" target="_blank">
					<i class="fab fa-3x fa-instagram"></i>
				</a>
			</td>
			<td><h3 style="font-style:italic;"><b>Press the Icon to visit</b></h3><td>
		</tr>
		
		<tr>
			<td><a href="https://www.twitter.com" target="_blank">
					<i class="fab fa-3x fa-twitter-square"></i>
				</a>
			</td>
			<td><h3 style="font-style:italic;"><b>Press the Icon to visit</b></h3><td>
		</tr>
		
		<tr>
			<td><a href="https://www.linkedin.com" target="_blank">
					<i class="fab fa-3x fa-linkedin"></i>
				</a>
			</td>
			<td><h3 style="font-style:italic;"><b>Press the Icon to visit</b></h3><td>
		</tr>
		
	</table>
    </div>
	<body>



</html>